$heightRows: 50px;
$color1: #579BFC;
$lineHeight1: 1.5;
$color2: #01C975;
$width1: 600px;
$color3: #F5F6F8;
$color4: #5D6286;
$lineHeight2: 2.2;
$fontSize1: 20px;
$height2: 46px;

.headerRows {
    height: $heightRows;
}

.fontWeight {
    font-weight: 100;
}

.whiteBorder {
    border: 1px solid white;
}

.toDoWidth {
    line-height: $lineHeight1;
    width: $width1;
    font-size: 25px;
}

.borderRadiusHeader {
    height: 52px;
    background: $color3;
    border-top: 1px solid $color3;
}

.radiusStatus {
    border-radius: 12px 0 0 0;
    line-height: $lineHeight2;
}

.radiusDue {
    border-radius: 0 12px 0 0;
    line-height: $lineHeight2;
}

.ownerWidth {
    width: 130px;
    font-size: $fontSize1;
}

.lastRowStatus {
    width: 228px;
}
 
.statusWidth {
    font-size: $fontSize1;
}

.lineHeight {
    line-height: 1.7;
}

.plusFont {
    font-size: $fontSize1;
    width: 47px;
}

.arrowThingsColor {
    background: $color1;
}

.arrowIcon {
    font-size: $fontSize1;
    width: 25px;
    height: 25px;
    line-height: 1;
}

.fontColor {
  color: $color1;
}

.paddingLeft {
    padding-left: 23px;
}

.paddingLeft2 {
    padding-left: 8px;
}

.height1 {
    height: 47px;
}

.addBarOpacity {
    opacity: 0.8;
}

.ownersStyle {
    padding: 0 45px;
}

.lineHeightOwner {
    line-height: 1.47;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    width: 214px;
    height: $height2;
 }

 .statusBar {
    width: 13px;
    height: $height2;
 }

 .lineHeightDue {
    line-height: 2.3;
    width: 43px;
    font-size: $fontSize1;
 }

 .lineHeightImages {
     line-height: 2.7;
 }

.widthImages {
    line-height: 2.1;
    width: 27px;
    font-size: 21px;
}

.paddingApr {
    padding: 0 62px;
}

.colorWork {
    color: $color4;
}

.colorDone {
    color: #00C875;
}

.priorityClass {
    width: 100%;
    line-height: 2.8;
}

.chatMessage {
    color: #d5dbe1;
    font-size: 31px;
    line-height: $lineHeight1;
    width: 53px;
}

.firstOwner {
    border: 1px solid #A5D0F0;
    background: #E6F4FF;
    height: $height2;
}

.ownerColor {
    color: #C6C7CE;
}

.bar2Style {
    width: 10px;
}

.lastRowStyle {
    width: 132px;
}

.height2 {
    height: 48px;
}

.widthLast {
    width: $width1;
}

.progressBar {
    padding: 9px;
}

.doneColor {
    color: $color2;
}

.doneArrow {
    background: $color2;
}

[contenteditable] { padding: 5px; outline: 0 solid transparent;cursor: auto;  }
[contenteditable]:not(:focus) { border: 0 solid transparent; }
[contenteditable]:focus { border: 1px dashed grey; cursor: auto; }